
{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello {{ app.user?app.user.username:"" }}
            </h1>
            <p class="subtitle">
                Are you ready for your <strong>BucketList</strong> ?
            </p>
        </div>
    </section>
{% endblock %}

