{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nom du souhait {{ id }}</h1>
    <p>Les détails du souhait {{ id }}</p>
{% endblock %}

{% block title %}
    Souhait {{ id }}
{% endblock %}

