{% extends 'base.html.twig' %}

{% block title %}Wishes{% endblock %}

{% block body %}
    <h1>Tous les souhaits existants chez nous :</h1>
    <ol>
        {% for wish in wishes %}
        <li><a href="{{ path('wish_detail', {'id': wish.id}) }}"> {{ wish.title }} </a></li>
        {% else %}
            <div>Rien à proposer !</div>
        {% endfor %}
    </ol>
{% endblock %}
