{% extends 'base.html.twig' %}

{% block title %}Wishes{% endblock %}

{% block body %}
    <h1>Tous les souhaits existants chez nous :</h1>
    <ol>
        <li><a href="{{ path('wish_detail', {'id': '1'}) }}"> le souhait 1 </a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
{% endblock %}
