{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Ajoutez un souhait !</h1>

        {# form_theme form 'foundation_5_layout.html.twig'#}

        {{ form_start(wishForm) }}
            {{ form_widget(wishForm) }}
            <button>Souhaiter !</button>
        {{ form_end(wishForm) }}
    </div>
{% endblock %}

{% block title %}
    New wish
{% endblock %}

